
:root{
  --primary: #495e57;
  --secondary: #f4ce14;
  --dark: #010101;
  --light: #efefef;
  --text-color: #3e3e3e;
  --cute-red: #ff6961;
  --accent: #ccd5ae;
  --font: 'Inconsolata', monospace;

}
body{
  font-family: var(--font);
  color: var(--text-color);
  margin:0;
  padding:0;
}
.cta{
  background-color: var(--secondary);
  padding: 12px 36px;
  color: var(--dark);
  margin: 5px 0px!important;
  text-decoration: none!important;
}
.cta:hover{
  background-color: var(--dark);
  color: var(--light);
}
/* NAVBAR CSS */
nav .navbar-nav li a{
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  transition: all 0.5s;
}
nav .navbar-nav li a:active{
  color: var(--primary);
}

nav .navbar-nav li a:hover{
  color: var(--primary);
}
header{
  min-height: 60vh;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-content{
  padding: 3% 5%;
}
.header-content h1{
  color: var(--secondary);
}
.header-content h2{
  color: var(--light);
}
.header-content p{
  color: var(--light);
  font-size: 18px;
  width: 60%;
  
}

.header-image{
  position: relative;
}
.header-image img{
  width: 90%;
  padding: 2rem;
  
}

/* SPECIALS SECTION */
.specials{
  min-height: 60vh;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
}
.specials .upper-section{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-bottom: 3%;
}
.specials .bottom-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.specials .bottom-section .menu-card{
  width: 300px;
  background-color: var(--secondary);
}
.specials .bottom-section .menu-card .menu-image img{
  width: 300px;
  height: 300px;
}
.menu-content{
  padding:0 20px;
}
.specials .bottom-section .menu-card .menu-item{
  display: flex;
  gap: 6%;
  padding: 30px 0;
  align-items: center;
}
.specials .bottom-section .menu-card .menu-item .item-name{
  font-weight: 700;
  font-size: 18px;
}
.specials .bottom-section .menu-card .menu-item .item-price{
  color: var(--primary);
  font-size: 16px;
  font-weight: 800;
}
.menu-description{
  line-height: 22px;
}
.menu-cta{
  font-weight: 800;
  padding: 20px 0;
}

/* testimonials */

.testimonials{
  padding: 3% 5%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.testimonial-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  padding: 3% 5%;
}
.rating{
  text-align: center;
}
.customer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.customer .customer-avatar img{
  width: 64px;
}
.review{
  text-align: center;
  /* font-style: italic; */
  padding: 1% 0;
}
/* reservation */
.reservation{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
}
.form-booking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light);
  padding: 100px;
  background-color: var(--light);
  box-shadow: rgba(244, 206, 20, 0.2) 0px 7px 29px 0px;
}
.form-booking img{
  width: 128px;
}
.btnBook{
  background-color: var(--primary);
  border: none;
  border-radius: 0px;
}
.btnBook:hover{
  background-color: var(--secondary);
  color: var(--dark);
}
/* FORM BOOKED */
.form-booked{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid var(--light);
  padding: 100px;
  background-color: var(--light);
  box-shadow: rgba(244, 206, 20, 0.2) 0px 7px 29px 0px;

}
.form-booked .booked-message{
  display: flex;
  align-items: center;
  gap: 50px;
  /* background-color: var(--secondary); */
  padding: 20px 50px;
  border: 2px solid var(--primary);
  margin-bottom: 20px;
}
.form-booked .booked-message h2{
  text-transform: uppercase;
  font-weight: 800;
}
.booked-info{
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: var(--secondary);
  padding: 30px 50px;
  justify-content: center;
}
.booked-info p{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  justify-content: space-evenly;
  background-color: var(--primary);
  color: var(--light);
  padding: 2% 5%;
}
footer .footer-col-1 img{
  width: 50%;
}
footer .footer-col-2 ul li{
  list-style: none;
  font-size: 22px;
}

footer .footer-col-3 ul li{
  list-style: none;
  font-size: 22px;
}
.footer-bottom{
  background-color: var(--dark) ;
  color: var(--light);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom p{
  margin:0;
}
