
:root{
  --primary: #495e57;
  --secondary: #f4ce14;
  --dark: #010101;
  --light: #efefef;
  --text-color: #3e3e3e;
  --font: 'Inconsolata', monospace;
}
body{
  font-family: var(--font);
  color: var(--text-color);

}